html,
body {
	background-color: #f5f5fa !important;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
:root {
	--fz-miniSmall: 12px;
	--fz-small: 14px;
	--fz-middle: 16px;
	--fz-large: 18px;
	--fz-xLarge: 20px;
	--fz-xxLarge: 22px;

	--clr-white: #ffffff;
	--clr-white-second: #fefefe;
	--clr-black-primary: #475569;
	--clr-green-primary: #2c7a7b;
	--clr-green-second: #ccfbf1;
	--clr-gray-primary: #f1f5f9;
	--clr-gray-second: #767676; // color for text
	--clr-gray-third: #e5e7eb; // color for border
}
.bg-dashboard {
	background: var(--clr-green-primary);
}

.text-page{
	font-size: var(--fz-large);
	font-weight: bold;
}

.text-title {
	font-weight: bold;
	font-size: var(--fz-middle);
}
.text-label {
	font-size: var(--fz-small);
}
.custom-container {
	width: 80%;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	margin-right: auto;
	margin-left: auto;
}
.min-width-100 {
	min-width: 150px;
	min-width: 150px;
}
.min-width-150 {
	min-width: 150px;
}
.min-width-200 {
	min-width: 200px;
}
.min-width-250 {
	min-width: 250px;
}
.min-width-300 {
	min-width: 300px;
}

